In [1]:
import pandas as pd

In [3]:
# read the csv file
df = pd.read_csv("bestsellers.csv")

In [10]:
# get the first 5 rows of the speadsheet
df.head()

(550, 7)

In [9]:
# get the shape of the speadsheet
df.shape

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [14]:
# get the column names of speadsheet
df.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre'], dtype='object')

In [15]:
# get summary statistics for each column
df.describe

<bound method NDFrame.describe of                                                   Name  \
0                        10-Day Green Smoothie Cleanse
1                                    11/22/63: A Novel
2              12 Rules for Life: An Antidote to Chaos
3                               1984 (Signet Classics)
4    5,000 Awesome Facts (About Everything!) (Natio...
..                                                 ...
545       Wrecking Ball (Diary of a Wimpy Kid Book 14)
546  You Are a Badass: How to Stop Doubting Your Gr...
547  You Are a Badass: How to Stop Doubting Your Gr...
548  You Are a Badass: How to Stop Doubting Your Gr...
549  You Are a Badass: How to Stop Doubting Your Gr...

                       Author  User Rating  Reviews  Price  Year        Genre
0                    JJ Smith          4.7    17350      8  2016  Non Fiction
1                Stephen King          4.6     2052     22  2011      Fiction
2          Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3               George Orwell          4.7    21424      6  2017      Fiction
4    National Geographic Kids          4.8     7665     12  2019  Non Fiction
..                        ...          ...      ...    ...   ...          ...
545               Jeff Kinney          4.9     9413      8  2019      Fiction
546               Jen Sincero          4.7    14331      8  2016  Non Fiction
547               Jen Sincero          4.7    14331      8  2017  Non Fiction
548               Jen Sincero          4.7    14331      8  2018  Non Fiction
549               Jen Sincero          4.7    14331      8  2019  Non Fiction

[550 rows x 7 columns]>

In [16]:
# get rid of the duplicates (by setting the inplace parameter to True, the changes are made directly to the original DataFrame)
df.drop_duplicates(inplace=True)

In [17]:
# renaming the columns
df.rename(columns={"Name": "Title", "Year": "Publication Year", "User Rating": "Rating"}, inplace=True)

In [18]:
# converting the data type of the column
df["Price"] = df["Price"].astype(float)

In [23]:
# aggregating values (count)
author_counts = df['Author'].value_counts()
print(author_counts)
# top 10 authors?
author_counts.head(10)

Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
                                      ..
Keith Richards                         1
Chris Cleave                           1
Alice Schertle                         1
Celeste Ng                             1
Adam Gasiewski                         1
Name: Author, Length: 248, dtype: int64

Jeff Kinney                           12
Gary Chapman                          11
Rick Riordan                          11
Suzanne Collins                       11
American Psychological Association    10
Dr. Seuss                              9
Gallup                                 9
Rob Elliott                            8
Stephen R. Covey                       7
Stephenie Meyer                        7
Name: Author, dtype: int64

In [20]:
# aggregating values (mean)
avg_rating_by_genre = df.groupby("Genre")["Rating"].mean()
avg_rating_by_genre

Genre
Fiction        4.648333
Non Fiction    4.595161
Name: Rating, dtype: float64

In [22]:
# export results
df.to_clipboard()

# meaningless comment to commit 
print("Jestem absolutnie do niczego. Mam nadzieję, że moja śmierć będzie adekwatna do moich błędów.")